# PostgreSQL source database
POSTGRES_HOST=mariadb.emerald.dataplatformsolution.com
POSTGRES_PORT=5432
POSTGRES_DB=ps_db
POSTGRES_USER=ps_user
POSTGRES_PASSWORD=nGqEC3P009PSiKDe
SOURCE_TABLE=public.telecom_cdr

# ETL Intervel 
SCHEDULE_INTERVAL_SECONDS=30

# Batch size 
BATCH_SIZE=50

# PATH
AUTO_LOADER_DIR=auto_loader
REJECTED_DIR=auto_loader/rejected
CHECKPOINT_DIR=auto_loader/checkpoint
LOG_DIR=auto_loader/logs

# CHECKPOINT DB
CHECKPOINT_DB_NAME=checkpoint.db
